In [2]:
import pandas as pd

In [3]:
df_blacklist = pd.read_csv("../data/clean/blacklist.csv")
df_blacklist.head()

,Unnamed: 0,Country,Country.1,05-12-2017,23-01-2018,13-03-2018,25-05-2018,02-10-2018,06-11-2018,12-03-2019,...,18-02-2020,06-10-2020,22-02-2021,05-10-2021,24-02-2022,04-10-2022,14-02-2023,17-10-2023,20-02-2024,08-10-2024
0,0,0,American Samoa,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,Antigua and Barbuda,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,2,2,Anguilla,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,1,1,1
3,3,3,Aruba,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,4,Bahamas,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0

In [4]:
df_blacklist = df_blacklist.rename(columns={'Unnamed: 0': 'Country'})
display(df_blacklist)

,Country,Country,Country.1,05-12-2017,23-01-2018,13-03-2018,25-05-2018,02-10-2018,06-11-2018,12-03-2019,...,18-02-2020,06-10-2020,22-02-2021,05-10-2021,24-02-2022,04-10-2022,14-02-2023,17-10-2023,20-02-2024,08-10-2024
0,0,0,American Samoa,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,Antigua and Barbuda,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,2,2,Anguilla,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,1,1,1
3,3,3,Aruba,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,4,Bahamas,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
5,5,5,Bahrain,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,6,Barbados,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
7,7,7,Belize,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8,8,8,Bermuda,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,9,9,British Virgin Islands,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
10,10,10,Cayman Islands,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
11,11,11,Costa Rica,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,12,12,Dominica,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
13,13,13,Fiji,0,0,0,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1
14,14,14,Grenada,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,15,15,Guam,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
16,16,16,Macau,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,17,17,Marshall Islands,1,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
18,18,18,Mongolia,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,19,19,Namibia,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,20,20,Oman,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
21,21,21,Palau,1,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,1,1
22,22,22,Panama,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
23,23,23,Russia,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
24,24,24,Samoa,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
25,25,25,Seychells,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,0,0
26,26,26,Saint Kitts and Nevis,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,27,27,Saint Lucia,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,28,28,South Korea,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,29,29,Tunisia,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,30,30,Turks and Caicos Islands,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
31,31,31,Trinidad and Tobago,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
32,32,32,United Arab Emirites,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
33,33,33,US Virgin Islands,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
34,34,34,Vanuatu,0,0,0,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
# Identify numerical columns
numerical_columns = df_blacklist.select_dtypes(include=['number']).columns

# Apply the transformation to the headers of numerical columns
df_blacklist.columns = [
    pd.to_datetime(col, format='%d-%m-%Y').strftime('%d-%m-%Y') if col in numerical_columns else col
    for col in df_blacklist.columns
]

ValueError: time data "Country" doesn't match format "%d-%m-%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df_blacklist.dtypes

Country       object
05-12-2017     int64
23-01-2018     int64
13-03-2018     int64
25-05-2018     int64
02-10-2018     int64
06-11-2018     int64
12-03-2019     int64
17-05-2019     int64
14-06-2019     int64
10-10-2019     int64
08-11-2019     int64
18-02-2020     int64
06-10-2020     int64
22-02-2021     int64
05-10-2021     int64
24-02-2022     int64
04-10-2022     int64
14-02-2023     int64
17-10-2023     int64
20-02-2024     int64
08-10-2024     int64
dtype: object

In [6]:
df_blacklist.dtypes

Country        int64
Country        int64
Country.1     object
05-12-2017     int64
23-01-2018     int64
13-03-2018     int64
25-05-2018     int64
02-10-2018     int64
06-11-2018     int64
12-03-2019     int64
17-05-2019     int64
14-06-2019     int64
10-10-2019     int64
08-11-2019     int64
18-02-2020     int64
06-10-2020     int64
22-02-2021     int64
05-10-2021     int64
24-02-2022     int64
04-10-2022     int64
14-02-2023     int64
17-10-2023     int64
20-02-2024     int64
08-10-2024     int64
dtype: object

In [7]:
# Identify which columns are date-like strings
# We will attempt to convert each column name to a datetime object, and if it works, we know it's a date column
def convert_to_datetime_if_possible(col):
    try:
        # Try converting the column name to a datetime object
        return pd.to_datetime(col, format='%d-%m-%y', errors='raise')
    except (ValueError, TypeError):
        # If conversion fails, return the column name as is
        return col

# Apply this function to each column name
df_blacklist.columns = [convert_to_datetime_if_possible(col) for col in df_blacklist.columns]

df_blacklist.columns

Index(['Country', 'Country', 'Country.1', '05-12-2017', '23-01-2018',
       '13-03-2018', '25-05-2018', '02-10-2018', '06-11-2018', '12-03-2019',
       '17-05-2019', '14-06-2019', '10-10-2019', '08-11-2019', '18-02-2020',
       '06-10-2020', '22-02-2021', '05-10-2021', '24-02-2022', '04-10-2022',
       '14-02-2023', '17-10-2023', '20-02-2024', '08-10-2024'],
      dtype='object')

In [8]:
df_blacklist.to_csv('blacklist.csv', index=True)

In [9]:
df_blacklist = df_blacklist.replace('United Arab Emirites', 'United Arab Emirates')
df_blacklist = df_blacklist.replace('Seychells', 'Seychelles')

In [10]:
df_blacklist.to_csv('blacklist_tableau.csv', index=True)

In [11]:
df = pd.read_csv("../data/clean/blacklist_tableau_final.csv")
df.head()

,Country,Country Code,05-12-2017,23-01-2018,13-03-2018,25-05-2018,02-10-2018,06-11-2018,12-03-2019,17-05-2019,...,18-02-2020,06-10-2020,22-02-2021,05-10-2021,24-02-2022,04-10-2022,14-02-2023,17-10-2023,20-02-2024,08-10-2024
0,American Samoa,ASM,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Anguilla,ANG,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,1,1,1
2,Antigua and Barbuda,ATG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,Aruba,ABW,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Bahamas,BHS,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0

In [12]:
melted_df = pd.melt(df, id_vars=['Country Code', "Country"], value_vars=df.columns[2:], var_name='Date', value_name='Blacklist')

In [13]:
display(melted_df)

    Country Code                   Country        Date  Blacklist
0            ASM            American Samoa  05-12-2017          1
1            ANG                  Anguilla  05-12-2017          0
2            ATG       Antigua and Barbuda  05-12-2017          0
3            ABW                     Aruba  05-12-2017          0
4            BHS                   Bahamas  05-12-2017          0
..           ...                       ...         ...        ...
730          TUN                   Tunisia  08-10-2024          0
731          TCA  Turks and Caicos Islands  08-10-2024          0
732          ARE      United Arab Emirates  08-10-2024          0
733          VUT         US Virgin Islands  08-10-2024          1
734          VIR                   Vanuatu  08-10-2024          1

[735 rows x 4 columns]

In [15]:
melted_df['Blacklist'] = melted_df['Blacklist'].replace({0: False, 1: True})

C:\Users\MJ\AppData\Local\Temp\ipykernel_7268\2548573698.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  melted_df['Blacklist'] = melted_df['Blacklist'].replace({0: False, 1: True})

In [16]:
melted_df.head()

  Country Code              Country        Date  Blacklist
0          ASM       American Samoa  05-12-2017       True
1          ANG             Anguilla  05-12-2017      False
2          ATG  Antigua and Barbuda  05-12-2017      False
3          ABW                Aruba  05-12-2017      False
4          BHS              Bahamas  05-12-2017      False

In [17]:
melted_df.to_csv('blacklist_tableau_melt.csv', index=True)